# Setup

In [1]:
import numpy as np
import pandas as pd

# Load data
We use <a href="https://www.kaggle.com/datasets/adityadesai13/used-car-dataset-ford-and-mercedes">100,000 UK Used Car Data set</a> from Kaggle
## Content
The following data sets contains information of price, transmission, mileage, fuel type, road tax, miles per gallon (mpg), and engine size.
* audi.csv - Audi used car list
* bmw.csv - BMW used car list
* ford.csv - Ford used car list
* hyundi.csv - Hyundi used car list
* merc.csv - Mercedes used car list
* skoda.csv - Skoda used car list
* toyota.csv - Toyota used car list
* vauxhall.csv - Vauxhall used car list
* vw.csv - Volkswagen used car list

In [2]:
audi_data = pd.read_csv("./data/raw/audi.csv")
bmw_data = pd.read_csv("./data/raw/bmw.csv")
ford_data = pd.read_csv("./data/raw/ford.csv")
hyundi_data = pd.read_csv("./data/raw/hyundi.csv")
merc_data = pd.read_csv("./data/raw/merc.csv")
skoda_data = pd.read_csv("./data/raw/skoda.csv")
toyota_data = pd.read_csv("./data/raw/toyota.csv")
vauxhall_data = pd.read_csv("./data/raw/vauxhall.csv")
vw_data = pd.read_csv("./data/raw/vw.csv")

In [3]:
# column name 'tax(£)' to 'tax'
hyundi_data.columns = ['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'tax', 'mpg', 'engineSize']

In [4]:
# add brand column all datasets
data_dict =  {"Audi": audi_data, "BMW": bmw_data, "Ford": ford_data, "Hyundi": hyundi_data, "Mercedes": merc_data,
                "Skoda": skoda_data, "Toyota": toyota_data, "Vauxhall": vauxhall_data, "Volkswagen": vw_data}

for key, data in data_dict.items():
    data["brand"] = key

In [5]:
# Merge datasets
car_df = pd.concat([audi_data, bmw_data, ford_data, hyundi_data, merc_data, skoda_data, toyota_data, vauxhall_data, vw_data], axis=0)
car_df

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,brand
0,A1,2017,12500,Manual,15735,Petrol,150,55.4,1.4,Audi
1,A6,2016,16500,Automatic,36203,Diesel,20,64.2,2.0,Audi
2,A1,2016,11000,Manual,29946,Petrol,30,55.4,1.4,Audi
3,A4,2017,16800,Automatic,25952,Diesel,145,67.3,2.0,Audi
4,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0,Audi
...,...,...,...,...,...,...,...,...,...,...
15152,Eos,2012,5990,Manual,74000,Diesel,125,58.9,2.0,Volkswagen
15153,Fox,2008,1799,Manual,88102,Petrol,145,46.3,1.2,Volkswagen
15154,Fox,2009,1590,Manual,70000,Petrol,200,42.0,1.4,Volkswagen
15155,Fox,2006,1250,Manual,82704,Petrol,150,46.3,1.2,Volkswagen
15156,Fox,2007,2295,Manual,74000,Petrol,145,46.3,1.2,Volkswagen

In [6]:
car_df.isnull().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
brand           0
dtype: int64

In [7]:
# Drop year greater than 2020
car_df = car_df[car_df.year<=2020]

In [8]:
# save final data
car_df.to_csv("./data/uk_used_car.csv", index=False)